#!/bin/bash

##
# Created by Tim Meusel
##

# variables used for handling the ISO
export DHCP_SERVER='dhcp01.local'
export DHCP_USER='root'
export DHCP_PATH='/var/www/archrescue/'
export DHCP_EXTRACT='/usr/local/bin/extract_archiso'

# variables used inside of the ISO during the build
# disable checking for vars in single quotes, this isn't a var
# shellcheck disable=SC2016
export ISO_MIRROR='http://internal-mirror.local/$repo/os/$arch'
export ISO_NFSSERVER='10.30.7.40'
export ISO_ROOTHASH='*'
export ISO_NTP='true'
export ISO_NTPSERVER='0.pool.ntp.org europe.pool.ntp.org north-america.pool.ntp.org'
