#!/bin/bash

##
# created by Tim Meusel
##

# these variables will be used from the installimage
export CONFIG_PROTO='http'
export CONFIG_SERVER='10.30.7.40'
export CONFIG_PATH='installimage_configs'
export CONFIG_FILE='config.cfg'
